.whole-body{
    background: url(../../assets/loginpage3.jpg); 
    backdrop-filter: blur(25px);
    background-repeat: no-repeat;
    background-size: cover;
   padding: 25px;
   margin: 0px ;
   height: 100vh;
}

 
 .login-container {
   width: 300px;
   margin: 100px auto;
    background-color: rgb(188, 192, 192); 
   padding: 45px;
   border-radius: 15px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 .link{
   padding-top: 10px;
 }
 h2 {
   text-align: center;
 }
 
 .form-group {
   margin-bottom: 20px;
 }
 
 label {
   display: block;
   margin-bottom: 5px;
 }
 
 input[type="text"],
 input[type="password"] {
   width: 100%;
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 
 button {
   width: 100%;
   padding: 10px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
 }
 
 button:hover {
   background-color: #0056b3;
 }