<!-- <div class="row navbar1 ">
    <div class="col-md-3">
      <div class="navbar-left">  
        <a href="#" class="profile mx-3" ><i class="fa-regular fa-user fa-1x"></i></a>
      </div>
      
    </div>
    <div class="col-md-6">
      <div class="navbar-center">  
        <a href="#" class="profile mx-3" >ZERO TO HERO QUIZ APPLICATION</a>
      </div>
      
    </div>
    <div class="col-md-3 ms-auto">
      <div class="navbar-right">
        <a (click)="Logout()" class="logout"><i class="fa-solid fa-right-from-bracket fa-1x"></i></a>
      </div>
    </div>
  </div>
   -->
   <div class="row navbar1">
    <div class="col-md-3">
      <div class="navbar-left">
        <a href="#" class="profile mx-3"><i class="fa-regular fa-user fa-1x"></i></a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="navbar-center mx-6">
        <p >ZERO TO HERO QUIZ APPLICATION</p>
      </div>
    </div>
    <div class="col-md-3 ms-auto">
      <div class="navbar-right">
        <a (click)="Logout()" class="logout"><i class="fa-solid fa-right-from-bracket fa-1x"></i></a>
      </div>
    </div>
  </div>