<app-navbar></app-navbar>
<div class="row body-class m-0 p-0">
  <div class="col-md-2">
    <div class="sidebar">
      <ul>
        <li>
          <button type="submit" class="button-29" id="create" (click)="postquestion()">New Question</button>
        </li>
        <li>
          <button type="submit" class="button-29"  id="update" (click)="updatequestion()">Update Question</button>
        </li>
        <li>
          <button type="submit" class="button-29"  id="delete" (click)="deletequestion()">Delete Question</button>
        </li>
        <li>
          <button type="submit" class="button-29"  id="view" (click)="questionbyTopic()">Questions By Topic</button>
        </li>
        
      </ul>
    </div>
  </div>
  <div class="col-md-10">
    <div class="wrapper">
  
    </div>
  </div>
</div>
